@page "/"
@inject IHttpClientFactory ClientFactory

<PageTitle>Home</PageTitle>

<h1>I miei portafogli</h1>

@if (wallets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var item in wallets)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Ultima modifica: @item.LastModified.ToShortDateString()</li>
            </ul>
            <div class="card-body">   
                <a href="wallet/@item.Id" class="card-link">Visualizza movimenti</a>
            </div>
        </div>
    }
}
<a href="wallet/new" class="btn btn-success">Nuovo portafoglio</a>

@code {
    private WalletDTO[] wallets;

    protected override async Task OnInitializedAsync()
    {
        var url = $"/wallets";
        var response = await ClientFactory.CreateClient("api").GetAsync(url);
        wallets = await response.Content.ReadFromJsonAsync<WalletDTO[]>();
    }
}